body{
    margin: 0;
    z-index: 1;
}
.Nav-bar{
    font-size: 1em;
    font-family: Courier Prime;
    /* display: inline-block; */
    /* position: relative;  */
}
#img{
    width: auto;
    height: auto;
    position: absolute;
    top: 30px;
    /* right: 100px; */
    left: 100px;
}
#search{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    text-align: left;
    /* margin-top: 50px; */
    margin-right: 50px;
    position: absolute;
    top: 45px;
    right: 300px;
    font-size: 20px;
    padding-left: 10px;
}

.nav{
    display: flex;
    /* margin-left: 100px; */
    /* margin-right: 150px; */
    justify-content: center;
    text-align: center;
}

#button{
text-decoration: none;
color: black;
font-weight: 500;
font-size: 2em;
margin-top: 50px;
margin-left: 20px;
margin-right: 20px;

}

#button:hover{
    color: gray;
}

#pers{
    position: absolute;
    top: 50px;
    right: 300px;
}

#shop{
    position: absolute;
    top: 50px;
    right: 260px;
}

.covidText{
    text-align: center;
    color: white;
    font-family: Courier Prime;
    background-color: #F1E274;
    width: 100%;
    height: 30px;
    padding-top: 10px;
    margin: 0;
    margin-top: 25px;
}
.enterHome{
    /* justify-content: center; */
    /* text-align: center; */
    background-color: #F1E274;
    display: grid;
    grid-template-columns: 1fr;
    font-family: Staatliches;
    /* display: flex; */
    width: 55%;
    height: 100%;
    margin-left: 45%;
}
.miniText{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10px;
    margin-right: 0;
}
#head{
    margin: 0;
    font-size: 55px;
    text-align: left;
}
#underText{
    font-size: 20px;
    color: gray;
    margin: 0;
    text-align: left;
}

#journey{
    background-color: black;
    color: white;
    border-radius: 50px;
    margin: 20px;
    margin-left: 10px;
    margin-right: 125px;
    padding: 1px;
    font-size: 25px;
    font-family: Courier Prime;
    margin-bottom: 50px;
}
.topSec{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.detail1{
    width: 74%;
    background-color: #B4F7F7;
    /* margin: 50px; */
    margin-top: 70px;
    margin-left: 270px;
    /* margin-right: 2000px; */
    display: flex;
    position: relative;
}
.detail2{
    width: 74%;
    background-color: #FB619F;
    /* margin: 50px; */
    margin-top: 70px;
    margin-left: 270px;
    /* margin-right: 2000px; */
    display: flex;
    position: relative;
}

.detailShoe1{
    width: 670px;
    height: 750px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.detailShoe2{
    width: 650px;
    height: 750px;
    /* position: absolute; */
    padding-top: 500px;
    padding-left: 750px;
    margin-bottom: 10px;
}
#shoe1{
    background-color: white;
    color: black;
    border-radius: 50px;
    margin: 20px;
    margin-left: 10px;
    margin-right: 125px;
    padding: 5px;
    width: 125px;
    font-size: 25px;
    font-family: Courier Prime;
    margin-bottom: 50px;
    position: absolute;
    left: 5px;
    top: 690px;
}
#shoe2{
    background-color: white;
    color: black;
    border-radius: 50px;
    margin: 20px;
    margin-left: 10px;
    margin-right: 125px;
    padding: 5px;
    width: 125px;
    font-size: 25px;
    font-family: Courier Prime;
    margin-bottom: 50px;
    position: absolute;
    left: 740px;
    top: 1180px;
}
.owl-carousel{
    background-color: #FCFCFC;
    margin-top: 150px;
    /* width: 100%; */
    margin: 0;
    margin-bottom: 100px;
}
.item{
    padding-top: 25px;
    padding-bottom: 25px;
}

.head-shoe{
    font-family: Courier Prime;
    font-size: 30px;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
}
.head-shoe-detail{
    font-family: Courier Prime;
    font-size: 30px;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 20px;
}
footer{
    width: 100%;
    background-color: black;
}
.combined{
    display: grid;
    grid-template-columns: 0.5fr 0.4fr 0.5fr 1fr;
    padding: 80px;
}

.footTextHead{
    display: grid;
    grid-template-columns: 1fr;
    height: 300px;
}
.footText1{
    display: grid;
    grid-template-columns: 1fr;
    height: 250px;
}
.footText2{
    display: grid;
    grid-template-columns: 1fr;
    height: 200px;
}
.head{
    color: white;
    font-family: Staatliches;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
}
.side{
    color: gray;
    font-family: Staatliches;
    font-size: 15px;
    text-decoration: none;
    padding: 5px;
}
.tussen2{
    margin-left: 200px;
}
.colo{
    padding: 5px;
    /* font-size: 150%; */
    color: white;
    border-radius: 50px;
    /* margin-bottom: 50px; */
}
#persMobile{
    display: none;
}
#shopMobile{
    display: none;
}
#searchMobile{
    display: none   ;
}
.tussen2 ul {
    margin: 0;
}

.popup{
    overflow: auto;
    display: none;
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100%;
    /* visibility: hidden; */
    background: rgba(0,0,0,.6);
    /* transition: opacity .2s,visibility 0s linear .2s; */
    text-align: center;
    align-items: center;
    justify-content: center;
}

.popup-content{
    position: relative;
    width: 450px;
    /* max-width: 436px; */
    height: 660px;
    /* display: block; */
    /* opacity: 0; */
    background-color: white;
    /* transform: translateY(30px); */
    /* transition: transform .4s ease,opacity .2s; */
    transition-delay: .1s;
    border-radius: 3px;
    background: #fff;
    margin: auto;
    z-index: 4;
}
.text1Pop{
    font-family: Staatliches;
    width: 75%;
    text-align: center;
    display: block;
    margin: 5px auto;
    font-size: 1.3em;
    font-weight: 900;
}
.text2Pop{
    font-family: Courier Prime;
    color: gray;
    font-size: 1.1em;
    width: 80%;
    text-align: center;
    display: block;
    margin: auto auto 40px auto;
}
.fa-times-circle{
    font-size: 2.7em;
    position: absolute;
    right: 10px;
    top: 10px;
}
.imgPopup{
    justify-content: center;
}
.inputPop{
    display: block;
    margin: 20px auto;
    width: 80%;
    padding: 8px;
    border: 1px solid gray;
    font-size: 1.2em;
    color: #FDE27E;
}
.inputPopExtra, .inputPopExtra2, .inputPopExtra3{
    display: none;
    margin: 20px auto;
    width: 80%;
    padding: 8px;
    border: 1px solid gray;
    font-size: 1.2em;
    color: #FDE27E;
}
.ForgotPass{
    text-decoration: none;
    color: gray;
    font-family: Courier Prime;
    margin-left: 50%;
    display: block;
}
.memActive{
    color: black;
    font-family: Courier Prime;
    display: block;
    font-weight: 900;
    text-decoration: underline;
}
.memActive2{
    color: black;
    font-family: Courier Prime;
    display: none;
    font-weight: 900;
    text-decoration: underline;
}
.mem{
    margin-top: 100px;
    color: gray;
    font-family: Courier Prime;
    display: block;
}
.mem2{
    margin-top: 100px;
    color: gray;
    font-family: Courier Prime;
    display: none;
    text-align: center;
}
.popBut{
    width: 90%;
    height: 9%;
    background-color: black;
    color: white;
    font-size: 2em;
    font-family: Staatliches;
}
.owl-nav {
    font-size: 40px !important;
    font-family: Courier Prime;

 }
.desc{
    margin-bottom: 20px;
}
@media screen and (max-width: 480px){

    html{
        width: 100%;
    }

    .detail1{
        display: none;
    }
    .detail2{
        display: none;
    }
    .nav{
        margin-left: 0;
        margin-right: 0;
        /* margin-top: 5px; */
    }
    #img{
        display: none;
    }
    #persMobile{
        display: block;
        position: absolute;
        top: 1px;
        right: 5px;
        color: gray;
    }
    #shopMobile{
        display: block;
    }
    #searchMobile{
        display: block;
        width: 91px;
        height: 24px;
        border-radius: 50px;
        text-align: left;
        font-size: 13px;
        padding-left: 15px;
        margin-top: 20px;
    }
    #search{
        display: none;
    }
    #shop{
        display: none;
    }
    #pers{
        display: none;
    }
    .combined{
        width: 0;
        padding: 0;
    }
    .head{
        color: white;
    font-family: Staatliches;
    font-size: 15px;
    text-decoration: none;
    padding: 5px;
    }
    .side{
        color: gray;
    font-family: Staatliches;
    font-size: 13px;
    text-decoration: none;
    padding: 5px;
    }
    .tussen2{
        margin-left: 0;
    }
    #img2{
        display: none;
    }
    #button{
        font-size: 1em;
        margin-top: 25px;
    }
    .topSec{
        display: block;
    }
    .enterHome{
        margin-left: 0;
        width: 100%;
    }
    #head{
        font-size: 40px;
    }
    #journey{
        font-size: 20px;
    }
    .popup-content{
        width: 349px;
        height: 680px;
    }
}
#buttonSpec{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1em;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    display: none;
    }
    
    #buttonSpec:hover{
        color: gray;
    }
    .grid{
        display: none;
    }
    .normal{
        margin: 50px;
        margin-bottom: 10px;
    }
@media screen and (max-width: 480px){
    #buttonSpec{
        display: block;
    }
    .normal{
        display: none;
    }
    .grid{
        display: block;
        margin-top: 10px;
    }
}
